<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">
	
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="txManager" />
	<aop:aspectj-autoproxy />
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="esenred" />
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<bean
		class="it.csi.esenred.esenredsrv.business.context.SpringApplicationContext"></bean>

	<bean id="messaggio" class="it.csi.esenred.esenredsrv.business.model.impl.MessaggioImpl">
		<property name="dataDao" ref="dataDao" />
	</bean>
	
	<bean id="notifica" class="it.csi.esenred.esenredsrv.business.model.impl.NotificaImpl">
		<property name="dataDao" ref="dataDao" />
	</bean>
	
	<bean id="esenzioneCittadino" class="it.csi.esenred.esenredsrv.business.model.impl.EsenzioneCittadinoImpl">
		<property name="dataDao" ref="dataDao" />
	</bean>
	
	<bean id="parametro" class="it.csi.esenred.esenredsrv.business.model.impl.ParametroImpl">
		<property name="dataDao" ref="dataDao" />
	</bean>

	<bean name="dataDao" class="it.csi.esenred.esenredsrv.business.dao.impl.DataDaoImpl" />
</beans>