<div class="col-md-12 divFiltri" style="padding-top: 15px;">

		<div class="row col-md-12"  style="margin-bottom: 15px;">
			<div class="col-md-3">
				<span>Esenzione creata</span>
			</div>
		</div>

		<div class="row col-md-12" style="padding-bottom:15px">
			<div class="row rigabiancafontnero eleese col-md-12" style="font-size:15px">

				<div class="row col-md-12" style="padding-top: 15px;">
					<div class="col-md-1"></div>
					<div class="col-md-10" style="padding-bottom:50px; padding-top:50px;">
						<span>
							La richiesta di esenzione &egrave; stata compilata correttamente.<br> Numero pratica {{ numeroPratica }} del {{ dataPratica}}
						</span>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>

		<div class="row col-md-12" style="padding-top:15px; padding-bottom: 15px;">
			<div class="col-md-6"></div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary btn-block" style="float: right" (click)="goToHome()">Torna alla Home</button>
			</div>
			<div class="col-md-3">
				<button *ngIf="!fromCert" type="button" data-toggle="tooltip" data-placement="bottom" title="Richiedi Attestato"
                class="btn btn-primary btn-block" style="float: right" (click)="nuovaEsenzione()">Nuova Esenzione</button>
			</div>
		</div>
</div>
